* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #212121;
}

:root {
    /* KOLORY CZCIONKI */
    --main-font-color: #dee2e6;
    --hover-font-color: #343a40;

    --bg-color: #212529;
}

.container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

/* === BODY === */
body {
    font-family: "Roboto", "Kanit", sans-serif;
    background: linear-gradient(to right, #212529, #6c757d, #343a40);
    height: 100vh;
}

/* === HEADER === === HEADER === === HEADER ===  */
.nav-box {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 5px;
    font-family: "Kanit";
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* === NAV === === NAV === === NAV === === NAV === */
.nav {
    align-self: center;
}
/* [ NAV - LIST ] */
.nav-list {
    display: flex;
    gap: 4vw;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    animation: nav-blink 1000ms infinite 250ms;
}

/* [ NAV - LOGO ] */
.nav-logo {
    display: flex;
}

.nav-logo span {
    font-size: 2rem;
    color: var(--main-font-color);
    padding-left: 2vw;
    align-self: center;
    text-transform: uppercase;
}
/* [ NAV - LOGO ] */

/*==========================================*/
/*              MAIN CONTAINER              */
/*==========================================*/

.section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.section-title {
    text-align: center;
    color: rgb(255, 196, 0);
    text-decoration: underline;
    padding-top: 5vh;
}

.section-title span,
.section-content p {
    color: var(--hover-font-color);
    padding: 5vh;
}

.section-card {
    background-color: white;
    padding: 5vh;
    box-shadow: 0px 5px 4.2px rgba(0, 0, 0, 1);
}

.section-content {
    border: 1px solid rgb(214, 214, 214);
}

@keyframes nav-blink {
    0% {
        color: var(--main-font-color);
    }
    25% {
        color: red;
    }
    50% {
        color: var(--main-font-color);
    }
    75% {
        color: red;
    }
    100% {
        color: var(--main-font-color);
    }
}
