.nav {
    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        font-weight: 700;
        font-size: 24px;
        a {
            color: white;
            text-shadow: 1px 1px 5px black;
            transition: color 500ms ease-in-out;
            &:hover {
                color: #212121;
            }
        }
        &--active {
            color: red;
        }
    }
}
